*.swp
**/__pycache__/**
.dumbo.json
checkpoints/
.idea/*
**/.ipynb_checkpoints/**
run.sh
output/
wandb/
runs/
# .vscode/
*.pth
*.DS_Store
notebooks/
pretrained/
pretrained_weights/*
!pretrained_weights/.gitkeep
env/

images
tmp
datasets
wandb_cache
datasets_metadata/v1.json
datasets_metadata/v2.json
datasets_metadata/imagenet1k.json
